
/* Header starts */

@media (max-width:768px) {
    .burger {
        display: block;
    }
    .navbar ul {
        display: none;
    }
    .logo {
        font-size: 28px;
    }
    .burger {
        max-width: 40px;
        width: 100%;
    }
    
}
@media (max-width:1080px) {
    .navbar ul li a {
        font-size: 25px;
    }
}


/* Header ends */